# build output
dist/
.astro/
.vercel/
test-results/
playwright-report/

# dependencies
node_modules/

# packages
*.zip

# logs
npm-debug.log*

# environment
.env
.env.*

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
